{% extends 'quotes_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card p-4 shadow-sm" style="border-radius: 10px;">
                <h2 class="text-center mb-4">Registration</h2>

                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p class="mb-1">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="mb-3 mx-auto" style="max-width: 400px;">
                        <label  class="form-label">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3 mx-auto" style="max-width: 400px;">
                        <label  class="form-label">Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3 mx-auto" style="max-width: 400px;">
                        <label  class="form-label">Password</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3 mx-auto" style="max-width: 400px;">
                        <label  class="form-label">Repeat Password</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="d-grid gap-2 mx-auto" style="max-width: 400px;">
                        <button type="submit" class="btn btn-dark py-2">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}